* {margin:0;padding:0;box-sizing:border-box;}
body{
	color: #fff;
	/* text-align: center; */
	background: black;
}
section {
	padding:4em 0;
}

h1{
	 font-family: Arial，sans-serif;
     font-weight: 800;
     font-size: 60px;
     text-transform: uppercase;
}

hr{
	width: 800px;
}

#slogan{
	font-family:"Courier New", monospace;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
}

.par{
	font-size: 22px;
}


ul{
	padding-left:1.25em;
}

a{
	font-style: italic;
	text-decoration: none;
}
p {
	margin:1em 0;
}
#main {
    background: url("../images/panda008.jpg");
    background-size: cover;
    height: 90vh;
}
